*{
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Palatino, URW Palladio L, serif;
}

body {

  font-family: 'Playfair Display', serif;
  background-color: #f8c9dc;
  color: #2b0d0d;
}


img {
  width: 100px;
  height: auto;
}




.cabecalho {

  overflow: hidden;
  padding: 15px;
  background-color:  #6b0010;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cabecalho a {
  float: left;
  display: block;
  color: black;
  padding: 20px;
  font-size: 30px;
  text-decoration: none;

}


a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size: 1.5em;
  transition: 0.3s;
}

.cabecalho a:hover {
  background: #ffd5f3;
  color: black;
}

.assinatura {
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  text-align: center;
  margin-top: 40px;
}

footer {
  background-color: #6b0010;
  height: 30px;
}

.imagem1{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}

.imagem1 img{
  width: 120px;
  height: 110px
}

.imagem2 img{
  width: 120px;
  height: 110px
}

.imagem2{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 40px;
}

.botao{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 80px;
}
.botao button{
  background-color: #6b0010;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.botao button:hover{
  background-color: #bfa1ff
  border: none;

}

#rodape{
  background-color: #6b0010;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 0px;
}
